*.class
*/*.class
*/*/*.class
*/*/*/*.class
*/*/*/*/*.class

*.txt
*/*.txt
*/*/*.txt
*/*/*/*.txt
*/*/*/*/*.txt
*/*/*/*/*/*.txt
*/*/*/*/*/*/*.txt
*/*/*/*/*/*/*/*.txt

!README.txt
!*/README.txt
!*/*/README.txt
!*/*/*/README.txt
!*/*/*/*/README.txt
!*/*/*/*/*/README.txt
!*/*/*/*/*/*/README.txt
!*/*/*/*/*/*/*/README.txt

*/target/*
*/*/target/*
*/*/*/target/*

*/test/*
*/*/test/*
*/*/*/test/*

*.zip
*/*.zip
*/*/*.zip

